*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.user_form{
  height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%; 
}



.form{
  width: 300px;
  margin: 0 auto;
   
}
.form input {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 5px;
  outline: none;
}


/* gmail_login_btn */

.gmail_login_btn{
  padding: 10px 20px;
  font-size: 20px;
  background: rgb(5, 90, 101);
  border: 1px solid;
  color: #fff;
  cursor: pointer;
  transition: .2s ease-in;
}
.gmail_login_btn:hover{
  background: transparent;
  border: 1px solid;
  color: rgb(5, 90, 101);
}



/* notify */
.notify{
   display: block;
   width: 300px;
   position: absolute;
   margin: 0 auto ;
   top: 20%;background: green;
   text-align: center;
   color: #fff;
}

/* admin_page */



.admin_page {
 
  display: none;
}
 
.admin_sec{
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  
}


.admin_sec  button{
  padding: 5px 20px;
  background: #111;
  color: #fff;
  border: 1px solid #111;
  cursor: pointer;
  transition: .2s ease-in;
   
}
.admin_sec  button:hover{
  background: transparent;
  border: 1px solid;
  color: #111;
}




/* add show class */

.show{
  display: block;
}
.hide{
  display: none;
}